{% extends 'playlist/base.html' %}
{% load static %}
{% block header %}
<title>VideoPlaylist</title>
{% endblock header %}

{% block content %}



<div class="container">
    {% for i in video %}
        <div class="video-con">
            <a class="video-name" href="{% url 'playlist:detail' slug=i.slug %}">{{ i.name }}</a>
            <video class="embed-responsive embed-responsive-16by9 videoclass" controls="controls">
                <source class="video-class" src="{{ i.video.url }}" type="video/mp4">
            </video>
        </div>
    {% endfor %}
</div>
{% endblock content %}