* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(13,17,23);
    
}

.navbar {
    background-color: rgb(32, 43, 74);
    margin-bottom: 20px;
}

.logo-img {
    height: 40px;
    width: 40px;
}

.link-nav {
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: aliceblue;
}

a {
    text-decoration: none;
}

.first {
    margin-left: 50px;
}

.last {
    margin-right: 60px;
}

.search-div {
    margin-right: 400px;
}

.input {
    height: 35px;
    border-radius: 7px;
    border: 0 solid white;
}

.video-name {
    text-decoration: none;
    color: rgb(187, 187, 188);
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 10px;
    width: 100wv;
    margin-left: 70px;
}

h1 {
    color: rgb(6, 62, 62);
}

.video-con {
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.videoclass {
    height: 300px;
    width: 280px;
}
